/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  width: 80%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 30px;
  color: black;
}
nav a:last-child {
  margin-right: 0;
}
header {
  display: flex;
  flex-direction: column;
  background: lightgray;
  padding: 4rem 2rem;
}
header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
header h1 {
  font-size: 4rem;
  margin: 5px 0;
}
header p {
  font-size: 2rem;
  margin: 5px 0;
}
header hr {
  width: 100%;
  border-style: solid;
  color: darkgrey;
}
header button {
  width: 150px;
  padding: 10px 0;
  cursor: pointer;
}
.main-content {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}
.main-content div {
  width: 45%;
}
.main-content .about-me h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.main-content .about-me p {
  line-height: 1.5rem;
}
.main-content .skills h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}
.main-content .skills ul li {
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid lightgrey;
}
.work-history {
  margin-bottom: 30px;
}
.work-history .work {
  width: 100%;
}
.work-history h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}
.work-history tr {
  display: flex;
  justify-content: space-between;
}
.work-history tr th {
  padding: 10px 0;
  text-align: left;
}
.work-history tr th:last-child {
  padding-right: 40px;
}
.work-history tr td {
  padding: 10px 0;
}
.work-history tr td:last-child {
  padding-right: 30px;
}
.work-history tr:nth-child(even) {
  background-color: lightgrey;
}
footer {
  background-color: darkgrey;
  text-align: center;
  padding: 50px 0 0;
}
